@import "tailwindcss";

* {
  scrollbar-width: thin;
  scrollbar-color: #27272a transparent;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .markdown :not(pre) > code {
    @apply text-[0.85em] bg-zinc-800 text-zinc-300 rounded px-1 py-0.5;
  }

  .markdown pre code {
    font-size: 12px;
  }
}
